body {
    font-family: Arial, Helvetica, sans-serif;
    
}



/*MENU*/

#Menu a {
    font-size: 18px;
    font-weight: bold;
    color:rgb(0, 0, 0);
}

.logo {
    padding-top: 2%;
    top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.servicio-fila {
    text-align: center;
    justify-content: center;
}


.servicio-fila {
    text-align: center;
    justify-content: center;
}
.container-flex{
    justify-content: center;
    display: flex;
}

#carta{
    background-color: aquamarine;

    margin-top: 20%;
    
}

 #carta1{
    background-color:aquamarine;
 
    margin-top: 20%;
    
}
#carta2{
    background-color: aquamarine;

    margin-top: 20%;
    
}

#carta #imagen{
    height: 100px;
    background-color: red;
}

.equipo-miembro {
    text-align: center;
    justify-content: center;
}

#contacto{
    background-color: #282c31;
    background-image: url("../img/Mapa.png");
    background-repeat: no-repeat;
    background-position: center;
    
}
#equipoSoftbar 
{
  padding-top: 5%;
  padding-bottom: 5%;
}
#miembro
{
  padding-top: 5%;
  padding-bottom: 5%;
}

section#contacto .section-heading {
    color: #fff;
  }

  section#contacto .section-heading.section-subheading {
    color: #fff;
  }

  section#contacto form#contactForm .form-group {
    margin-bottom: 1.5rem;
  }
  section#contacto form#contactForm .form-group input,
  section#contacto form#contactForm .form-group textarea {
    padding: 1.25rem;
  }
  section#contacto form#contactForm .form-group input.form-control {
    height: auto;
  }
  section#contacto form#contactForm .form-group-textarea {
    height: 100%;
  }
  section#contacto form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 10rem;
  }
  section#contacto form#contactForm p.help-block {
    margin: 0;
  }
  section#contacto form#contactForm .form-control:focus {
    border-color: #ffc800;
    box-shadow: none;
  }
  section#contacto form#contactForm ::-webkit-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm :-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm ::-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm :-ms-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;

  }
#info {
    align-items: center;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#info #estado {
  padding: 10px;
  border-radius: 5px;
  margin-left: 5%;
  color: white;
  font: 1em sans-serif;
}

#info #precio {

  padding: 10px;
  border-radius: 5px;
  margin-left: 26%;
  color: white;
  font: 1em sans-serif;
}

#main-container{
  margin: 20px auto;
  width: 50%;
}

table{
  background-color: #ced4da;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th,td{

  padding: 10px;
}

thead{
  background-color: gray;
  border-top: solid 4px;
  border-bottom: solid 4px;
}





.mapa{
    align-items: center;
    text-align: center;
   
}






